<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uber Feast - <%= displayUser.username %>
    </title>
    <link rel="icon" href="../assets/img/favicon.png">

    <link rel="stylesheet" href="../style.css">
    <script src="../user.js" defer></script>

    <style>
        main {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    </style>
</head>

<body>
    <div id="nav">
        <img id="logo" src="../assets/img/logo.png">
        <div id="nav_links">
            <a href="../home/">
                <h2>Home</h2>
            </a>
            <a href="../users/">
                <h2>Users</h2>
            </a>
            <% if (user) { %>
                <a href="../order/">
                    <h2>Order</h2>
                </a>
                <% } %>
        </div>

        <% if (!user) { %>
            <div id="login_button">
                <a class="sub_nav_links" href="../register/">
                    <h2 class="sub_nav_text">Register</h2>
                </a>
                <a class="sub_nav_links" href="../login/">
                    <h2 class="sub_nav_text">Login</h2>
                </a>
            </div>
            <% } else { %>
                <div id="profil_menu">
                    <a href="../users/<%= user._id %>" id="profil_picture">
                        <img src="../assets/img/profil_picture.jpg" id="profil_picture">
                    </a>
                    <a href="../logout/" class="links" id="profil_logout">
                        <h3>Logout</h3>
                    </a>
                </div>
                <% } %>
    </div>
    <main>
        <div id="user_menu">
            <h1 class="altTitle">
                @<%= displayUser.username %>
            </h1>
            <% if (admin) { %>
                <button onclick="togglePrivacyStatus()" id="privacy_button">
                    <% if (displayUser.privacy) { %>
                        Set user to public
                        <% } else { %>
                            Set user to private
                            <% } %>
                </button>
                <% } %>

                    <% if (orders.length==0) { %>
                        <h2 id="no_orders">No orders</h2>
                        <% } else { %>
                            <div id="order_list">
                                <h2 class="altSubtitle">Orders</h2>
                                <% for (let order of orders) { %>
                                    <a class="links order_links" href="../orders/<%= order._id %>">
                                        <h2>
                                            #<%= order._id %>
                                        </h2>
                                    </a>
                                    <br>
                                    <% } %>
                            </div>
                            <% } %>
        </div>
    </main>
</body>

</html>